<ion-content>
  <div class="pink-bg">
    <div class="pink-bg-blur">

    </div>
    
  </div>
  <div class="content">
    <div class="header-content">
      <div style="font-size: 24px; font-weight: bold; margin-bottom: 24px;">
        Order
      </div>
      <div class="">
        close
      </div>
    </div>
  </div>

  <div>
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header> -->
    
      <ion-card-content>
        <div style="display: flex; justify-content: space-between; margin-bottom:8px;">
          <div style="color: black; font-weight: bold;">
            Sub-total
          </div>
          <div style="color: grey">
            $49:50
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;margin-bottom:8px;">
          <div style="color: black; font-weight: bold;">
            Tax & Fees
          </div>
          <div style="color: grey">
            $2:50
          </div>
        </div>
        <div style="display: flex; justify-content: space-between;margin-bottom:8px;">
          <div style="color: black; font-weight: bold;">
            Delivery
          </div>
          <div style="color: grey">
            Free
          </div>
        </div>

        <div id="divider"></div>

        <div style="display: flex; justify-content: space-between;margin-top:8px;">
          <div style="color: black; font-weight: bold; font-size: 24px;">
            Total
          </div>
          <div style="color: grey; font-size: 24px;">
            $52.25
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    
    
    <ion-card>
      <ion-list lines="none">
        <!-- <ion-list-header> Recent Conversations </ion-list-header> -->

        <ion-item >
          
          <ion-avatar slot="start"  style="width: 60px;height:60px">
            <img style="width:60px; height:60px; border-radius: 5px;"  src="assets/images/chicken1.jpg" />
          </ion-avatar>
          <ion-label>
            <h2 style="color: black; font-weight: bold; font-size: 16px;">Crispy Chicken San</h2>
            <h3 style="color: grey">2x tuna sahimi, 3x vegetables, 1 noodle</h3>
            <p style="color: #f54071;font-weight: bold; font-size: 16px;">$29.50</p>
          </ion-label>
        </ion-item>

        <ion-item >
          
          <ion-avatar slot="start"  style="width: 60px;height:60px">
            <img style="width:60px; height:60px;border-radius: 5px;"  src="assets/images/chicken1.jpg" />
          </ion-avatar>
          <ion-label>
            <h2 style="color: black; font-weight: bold; font-size: 16px;">Crispy Chicken San</h2>
            <h3 style="color: grey">2x tuna sahimi, 3x vegetables, 1 noodle</h3>
            <p style="color: #f54071;font-weight: bold; font-size: 16px;">$29.50</p>
          </ion-label>
        </ion-item>

        <ion-item >
          
          <ion-avatar slot="start"  style="width: 60px;height:60px">
            <img style="width:60px; height:60px;border-radius: 5px;"  src="assets/images/chicken1.jpg" />
          </ion-avatar>
          <ion-label>
            <h2 style="color: black; font-weight: bold; font-size: 16px;">Crispy Chicken San</h2>
            <h3 style="color: grey">2x tuna sahimi, 3x vegetables, 1 noodle</h3>
            <p style="color: #f54071;font-weight: bold; font-size: 16px;">$29.50</p>
          </ion-label>
        </ion-item>

        <ion-item >
          
          <ion-avatar slot="start"  style="width: 60px;height:60px">
            <img style="width:60px; height:60px;"  src="assets/images/chicken1.jpg" />
          </ion-avatar>
          <ion-label>
            <h2 style="color: black; font-weight: bold; font-size: 16px;">Crispy Chicken San</h2>
            <h3 style="color: grey">2x tuna sahimi, 3x vegetables, 1 noodle</h3>
            <p style="color: #f54071;font-weight: bold; font-size: 16px;">$29.50</p>
          </ion-label>
        </ion-item>

       
      </ion-list>
    </ion-card>
  <div class="content">
    <ion-button expand="block" class="button">Checkout</ion-button>
  </div>
  
  </div>
  
   
  
</ion-content>