.header-top {
    height: 200px;
    width: 100%;
    background-color:#4dbad7;
    padding: 30px 40px;
}

.pink-bg {
    height: 200px;
    width: 100%;
    background-color:#4dbad7;
    //background-image: linear-gradient(to right, #f54071 50% , #df436c 50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.back-arrow {
    display: flex;
    justify-content: space-around;
    height: 90px;
    width: 90px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 15px;
    background-color:#6fcade;
    //background-color:white;
    border-bottom-left-radius: 50%;
}

.rain {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color:#6fcade;
}


.rain-white {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color:white;
}

.rain-yellow {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color:#ebb90d;
}

.pink-bg-blur {
    //top: 0;
    //position: absolute;
    height:180px;
    margin-left: 20%;
    width: 50%;
    background-color:#f54071;
    //background-color:black;
    opacity: 1;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 100%;

}

.header-content {
    width: 100%;
    position: relative;
    visibility:inherit;
    z-index: 2;
    padding: 10px 20px;
   color: white;
   display: flex;
    justify-content: space-between;
}

.content {
    padding: 10px;
}

#divider {
    border-top: 1px solid grey;
    // --inner-padding-bottom: 0px;
    // --inner-padding-end: 0px;
    // --inner-padding-start: 0px;
    // --inner-padding-top: 0px;
    // --padding-bottom: 0px;
    // --padding-end: 0px;
    // --padding-start: 0px;
    // --padding-top: 0px;
}

.button {
    --background: #f54071
}

body {
    background-color: #f54071;
}
ion-avatar {
    --border-radius: 0px;
}

ion-content {
    --background: white; // Replace this with color of your choice
  }

ion-icon {
    font-size: 48px;

    &.rain-icon {
        color: #aadbec;
        font-size: 32px;
        padding-left:9px;
        padding-top: 9px;
    }

    &.rain-white-icon {
        color: black;
        font-size: 32px;
        padding-left:9px;
        padding-top: 9px;
    }

    &.rain-yellow-icon {
        color: white;
        font-size: 32px;
        padding-left:9px;
        padding-top: 9px;
    }
}


.temp-degree {
    font-size: 100px;
    color: white;
}

.first-row {
    padding: 0px 30px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    height: 100px; 
    background-color: #eaf3fa
}

.second-row {
    padding: 0px 30px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    height: 100px; 
    background-color: #fef9fd
}

.state-text {
    font-size: 20px;
    font-weight: bold;
}