<ion-content>
  <div class="header-top">

    <div class="back-arrow"> 
      <ion-icon color="light" name="arrow-forward"></ion-icon>
    </div>

    <div style="font-size: 30px; font-weight: bold; color: white">
      Tokyo, JPN
    </div>
    <div style="font-size: 24px; color: #d2e4ea;margin-top: 8px;">
      Friday, June 21
    </div>

    <div style="display: flex; flex-direction:row;margin-top: 16px;">
      <div class="rain">
        <ion-icon class="rain-icon" name="rainy"></ion-icon>
      </div>
      <div >
        <div class="temp-degree">
          19<sup>o</sup>c
        </div>
        <div style="padding-left: 20px; color: #d2e4ea; font-size: 24px; font-weight: 200;">
          mostly raining
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between;margin-top:32px;">
     
      <div style="display: flex; justify-content: space-between;">

        <div class="rain-white">
          <ion-icon class="rain-white-icon" name="cloud-outline"></ion-icon>
        </div>
        <div style="width: 16px">

        </div>
        <div style="color: white; font-size: 24px; padding-top:9px">
          09:30
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div class="rain-white">
          <ion-icon class="rain-white-icon" name="cloud-outline"></ion-icon>
        </div>
        <div style="width: 16px">

        </div>
        <div style="color: white; font-size: 24px; padding-top:9px;">
          12:30
        </div>
      </div>
    </div>

  </div>

  <div class="pink-bg">
  </div >
  
    <div style="margin-top:100px" class="first-row">
      <div>
        09:30
      </div>
      <div class="state-text">
        London
      </div>
      <div>
        20<sup>o</sup>c
      </div>
      <div class="rain-yellow">
        <ion-icon class="rain-yellow-icon" name="cloud-outline"></ion-icon>
      </div>
    </div>
    <div class="second-row">
      <div>
        09:30
      </div>
      <div class="state-text">
        London
      </div>
      <div>
        20<sup>o</sup>c
      </div>
      <div class="rain-yellow">
        <ion-icon class="rain-yellow-icon" name="cloud-outline"></ion-icon>
      </div>
    </div>
    <div class="first-row">
      <div>
        09:30
      </div>
      <div class="state-text">
        London
      </div>
      <div>
        20<sup>o</sup>c
      </div>
      <div class="rain-yellow">
        <ion-icon class="rain-yellow-icon" name="cloud-outline"></ion-icon>
      </div>
    </div>
    <div class="second-row">
      <div>
        09:30
      </div>
      <div class="state-text">
        London
      </div>
      <div>
        20<sup>o</sup>c
      </div>
      <div class="rain-yellow">
        <ion-icon class="rain-yellow-icon" name="cloud-outline"></ion-icon>
      </div>
    </div>
   
  
</ion-content>